@model Book_store.Models.RegisterVM
@{
    ViewData["Title"] = "Register";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h3> Create New Account</h3>
                </div>
                <div class="card-body">

                    <form asp-action="Register" method="post">

                        <div asp-validation-summary="ModelOnly"
                             class="text-danger mb-3">
                        </div>

                        <!-- Full Name -->

                        <div class="mb-3">

                            <label asp-for="FullName"
                                   class="form-label">
                            </label>

                            <input asp-for="FullName"
                                   class="form-control"
                                   placeholder="Enter Full Name" />

                            <span asp-validation-for="FullName"
                                  class="text-danger">
                            </span>

                        </div>
                        <div class="mb-3">

                            <label asp-for="EmailAddress"
                                   class="form-label">
                            </label>

                            <input asp-for="EmailAddress"
                                   class="form-control"
                                   placeholder="Enter Email" />

                            <span asp-validation-for="EmailAddress"
                                  class="text-danger">
                            </span>

                        </div>
                        <div class="mb-3">

                            <label asp-for="Password"
                                   class="form-label">
                            </label>

                            <input asp-for="Password"
                                   class="form-control"
                                   placeholder="Enter Password" />

                            <span asp-validation-for="Password"
                                  class="text-danger">
                            </span>

                        </div>

                        <div class="mb-4">

                            <label asp-for="ConfirmPassword"
                                   class="form-label">
                            </label>

                            <input asp-for="ConfirmPassword"
                                   class="form-control"
                                   placeholder="Confirm Password" />

                            <span asp-validation-for="ConfirmPassword"
                                  class="text-danger">
                            </span>

                        </div>
                        <div class="d-grid">

                            <button type="submit"
                                    class="btn btn-success">

                                Register

                            </button>

                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">

                    Already have an account?

                    <a asp-action="Login">

                        Login

                    </a>

                </div>
            </div>
        </div>
    </div>